footer {
    display: flex;
    gap: 24px;
    padding-block: 24px;

    font: 14px/150% var(--font-family);
}

footer span:nth-child(1) {
    margin-right: auto;
}

footer span:nth-child(2),
footer span:nth-child(3) {
    cursor: pointer;
}

footer span:nth-child(2):hover,
footer span:nth-child(3):hover{
    color: var(--brand-color);
}

