*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #EF5F4C;
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: rgba(255, 255, 255, 56%);
    --text-color-primary: #313131;
    --text-color-secondary: #6c6c6c;

    --font-family: "Poppins", sans-serif;
    --text-lg: bold 32px/125% var(--font-family);
    --text: 16px/150% var(--font-family);
    --text-md: 14px/170% var(--font-family);
    --text-sm: 12px/170% var(--font-family);
}

body{
    font: var(--text);
    color: var(--text-color-secondary);
    background-color: var(--background-color);
    overflow: hidden;
}

html {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}


a:hover {
    color: var(--brand-color);
    text-decoration: underline;
}

.container{
    padding-inline: 32px;
    max-width: 1280px;
    margin-inline: auto;
}

.bg-surface-color{
    background-color: var(--surface-color);
}
.desktop-only {
    display: none;
}

.grid-1 {
    grid-row: 3/3;
    grid-column: 2/3;
    width: 161px;
}
.grid-2 {
    grid-row: 3/3;
    grid-column: 1/2;
    width: 112px;
}
.grid-3 {
    grid-row: 1/1;
    grid-column: 1 / 3;
    width: 134px;
    display: flex;
}

@media (width < 80em) {
    .container{
    padding-inline: 1rem;
    max-width: 360px;
    margin-inline: auto;
}
}

