main {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
}

main img{
    width: 286px;
    height: 286px;
    object-fit: cover;
}

@media (width < 80em) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    main {
        max-width: 298px;
        display: flex;
        flex-direction: column;
        margin: auto;
        & img {
            width: 328px;
            height: 328px;
            object-fit: cover;
        }
    }
}